@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 66%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    color: #fff;
}
.logo{
    margin-left: 10px;
}
.title{
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}
.info{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.button button{
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
}
.title,.info,.button{
    margin: 16px 15px;
}
.main .left{
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #E38826;
    padding: 30px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.main .left .button button{
    color: #E38826;
}


.main .middle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    background-color: #006970;
    padding: 30px 20px;
}
.middle .title{
    margin-top: 18px;
}
.main .middle .button button{
    color: #006970;
}
.main .right{
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #004241;
    padding: 30px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main .right .button button{
    color: #004241;
}